<div style="margin-bottom:20px;">
  <span>
    {{ label }}
    <span *ngIf="formControlMandatory()">
    *
    </span>
  </span>
  <nb-form-field>
    <nb-icon *ngIf="icon" nbPrefix [icon]="icon" pack="eva"></nb-icon>
    <input
      type="text"
      nbInput
      shape="rectangle"
      [placeholder]="label"
      [status]="(error ? 'danger' : 'basic')"
      [formControl]="control"
      [disabled]="disabled"
      (change)="this.change.emit($event)"
    />
  </nb-form-field>
  <div style="color:red" *ngIf="error && control.touched && control.hasError('required')">
    {{ label }} is required.
  </div>
</div>
