<div class="container-fluid">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-8" fxLayout="row" fxLayoutAlign="start center">
          Preferences
        </div>
        <div class="col-md-4" fxLayout="row" fxLayoutAlign="end center">
          <button nbButton (click)="save()">Save</button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body style="padding-left:35px;">
      <div class="row">
        <div class="col-md-8">
          <p class="section-title">User Details</p>
          <div [formGroup]="entityForm">
            <app-r-select field="title" label="Title" [options]="titleOptions"></app-r-select>
            <app-r-input field="name" label="Full Name"></app-r-input>
            <app-r-input field="email" label="Email"></app-r-input>
            <app-r-input field="company" label="Company"></app-r-input>
          </div>
        </div>
        <div class="col-md-4">
          <p class="section-title">Settings</p>
          <div
            *ngFor="let settingControl of allSettingsFormArray.controls"
            [formGroup]="settingControl"
            class="container-fluid"
          >
            <div class="row">
              <div class="col-md-8" style="padding-left:0;">
                <span>{{ settingControl.value.settingDescription }}</span>
              </div>
              <div class="col-md-4">
                <app-r-checkbox field="value"></app-r-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
