.menu-title {
  color: #ffffff;
  padding:10px 0px 10px 0px;
  font-weight: 300;
  margin:0px;
}

.menu-logo {
  padding:40px 0px;
  font-size:20px;
  color: white;
  margin-bottom:0px;
}


.menu-group {
  margin-bottom:40px;
}

.sidebar {
  padding-left:25px;
}
