@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~bootstrap/dist/css/bootstrap-grid.min.css';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

.nb-theme-default nb-sidebar .scrollable {
  padding:0;
  background-color: #3366ff;
}

.nb-theme-default nb-menu .menu-group, .nb-theme-default nb-menu .menu-item a {
  font-weight:400;
  font-size:14px;
}

.nb-theme-default nb-layout .layout .layout-container nb-sidebar.fixed, .nb-theme-default nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 0px;
}

.sidebar .menu-item a .menu-title {
  color:white;
}

.sidebar .menu-item .menu-icon {
  color: #ffffff !important;
}

.sidebar .menu-item {
  border-bottom: none !important;
}

.nb-theme-default nb-layout-header nav {
  box-shadow:none !important;
}
