<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <nb-card>
        <nb-card-header>
          <div class="row">
            <div class="col-md-8" fxLayout="row" fxLayoutAlign="start center">
              Usage Report
            </div>
            <div class="col-md-4" fxLayout="row" fxLayoutAlign="end center">
                <nb-select placeholder="Select Period" [(selected)]="selectedUsagePeriod">
                  <nb-option value="WEEK">This Week</nb-option>
                  <nb-option value="MONTH">This Month</nb-option>
                  <nb-option value="YEAR">This Year</nb-option>
                  <nb-option value="ALL_TIME">All-Time</nb-option>
                </nb-select>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div style="display: block;">
            <canvas baseChart
                    [datasets]="charts.usageChart.chartData"
                    [labels]="charts.usageChart.chartLabels"
                    [options]="charts.usageChart.chartOptions"
                    [legend]="true"
                    [chartType]="'bar'"
                    [plugins]="chartPlugins">
            </canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>
          <div class="row">
            <div class="col-md-6" fxLayout="row" fxLayoutAlign="start center">
              Build Logs
            </div>
            <div class="col-md-6" fxLayout="row" fxLayoutAlign="end center">
              <a [routerLink]="'/build-logs'" size="small" nbButton>
                All Logs
              </a>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body style="padding:0px;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 tbl-column-th border-bottom-th">
                <b>Runner</b>
              </div>
              <div class="col-md-2 tbl-column-th border-bottom-th">
                <b>Minutes</b>
              </div>
              <div class="col-md-4 tbl-column-th border-bottom-th">
                <b>Date</b>
              </div>
              <div class="col-md-2 tbl-column-th border-bottom-th">
                <b>Log</b>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 tbl-column">
                <a [routerLink]="'/runner/<id here>'">Runner #134</a>
              </div>
              <div class="col-md-2 tbl-column">
                3.54
              </div>
              <div class="col-md-4 tbl-column">
                12th June 2020
              </div>
              <div class="col-md-2 tbl-column">
                <button nbButton size="small">
                  <nb-icon icon="download-outline"></nb-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 tbl-column">
                <a [routerLink]="'/runner/<id here>'">Runner #108</a>
              </div>
              <div class="col-md-2 tbl-column">
                2.56
              </div>
              <div class="col-md-4 tbl-column">
                11th June 2020
              </div>
              <div class="col-md-2 tbl-column">
                <button nbButton size="small">
                  <nb-icon icon="download-outline"></nb-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 tbl-column">
                <a [routerLink]="'/runner/<id here>'">Runner #72</a>
              </div>
              <div class="col-md-2 tbl-column">
                7.83
              </div>
              <div class="col-md-4 tbl-column">
                1st June 2020
              </div>
              <div class="col-md-2 tbl-column">
                <button nbButton size="small">
                  <nb-icon icon="download-outline"></nb-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 tbl-column">
                <a [routerLink]="'/runner/<id here>'">Runner #34</a>
              </div>
              <div class="col-md-2 tbl-column">
                10.32
              </div>
              <div class="col-md-4 tbl-column">
                1st March 2020
              </div>
              <div class="col-md-2 tbl-column">
                <button nbButton size="small">
                  <nb-icon icon="download-outline"></nb-icon>
                </button>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-4">
      <nb-card>
        <nb-card-header>
          <div class="row">
            <div class="col-md-6" fxLayout="row" fxLayoutAlign="start center">
              Usage
            </div>
            <div class="col-md-6" fxLayout="row" fxLayoutAlign="end center">
              <a [routerLink]="'/upgrade'" size="small" nbButton>Upgrade</a>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <p style="text-align:right;"><b>1567 used</b> / 3500 <span>minutes</span></p>
          <nb-progress-bar status="primary" [value]="70"></nb-progress-bar>
          <p style="color:gray;text-align:right;">
            You have 1933 minutes left until the
            <span style="font-style:italic">20th June.</span>
          </p>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>Breakdown</nb-card-header>
        <nb-card-body style="padding:0;margin:0;">
          <nb-list>
            <nb-list-item>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6" fxLayout="row" fxLayoutAlign="start center">
                    <nb-icon icon="activity-outline"></nb-icon>
                    <p style="padding-left:15px;">Runners</p>
                  </div>
                  <div class="col-md-6" fxLayout="row" fxLayoutAlign="end center">
                    <b>4</b>
                  </div>
                </div>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6" fxLayout="row" fxLayoutAlign="start center">
                    <nb-icon icon="clock-outline"></nb-icon>
                    <p style="padding-left:15px;">Average usage per hour</p>
                  </div>
                  <div class="col-md-6" fxLayout="row" fxLayoutAlign="end center">
                    <b>2.11 minutes</b>
                  </div>
                </div>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6" fxLayout="row" fxLayoutAlign="start center">
                    <nb-icon icon="checkmark-circle-outline" status="success"></nb-icon>
                    <p style="padding-left:15px;">Passed</p>
                  </div>
                  <div class="col-md-6" fxLayout="row" fxLayoutAlign="end center">
                    <b>20</b>
                  </div>
                </div>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6" fxLayout="row" fxLayoutAlign="start center">
                    <nb-icon icon="checkmark-circle-2-outline" status="warning"></nb-icon>
                    <p style="padding-left:15px;">Passed (warnings)</p>
                  </div>
                  <div class="col-md-6" fxLayout="row" fxLayoutAlign="end center">
                    <b>11</b>
                  </div>
                </div>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6" fxLayout="row" fxLayoutAlign="start center">
                    <nb-icon icon="close-circle-outline" status="danger"></nb-icon>
                    <p style="padding-left:15px;">Failed</p>
                  </div>
                  <div class="col-md-6" fxLayout="row" fxLayoutAlign="end center">
                    <b>4</b>
                  </div>
                </div>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
